<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
  <title>+Degree - temperature monitoring</title>
  <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    // Temperature channel
    temperature_monitoring_channel = "temp-channel"

    var pusher = new Pusher('9c3b69d78c3088e46d6c', {
      cluster: 'us2',
      encrypted: true
    });

    //Temperature update channel
    var channel = pusher.subscribe(temperature_monitoring_channel);

    //Individual sensor measures events bindings

    channel.bind(sensor1_id, function(data) {
      document.getElementById('sensor1').innerHTML = data.message;
    });

    channel.bind(sensor2_id, function(data) {
      document.getElementById('sensor2').innerHTML = data.message;
    });

  </script>
</head>
<body>
  <h1>Live Unit Processes</h1>
  <p>
    <p>Unit 1 : <b id="unit1"> process X </b></p>
    <p>Unit 2 : <b id="unit2"> application Y </b></p>
  </p>
</body>