<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
  <title>+Degree - temperature monitoring</title>
  <script src="https://js.pusher.com/4.2/pusher.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    // Temperature channel
    temperature_monitoring_channel = "temp-channel"

    var pusher = new Pusher('9c3b69d78c3088e46d6c', {
      cluster: 'us2',
      encrypted: true
    });

    //Temperature update channel
    var channel = pusher.subscribe(temperature_monitoring_channel);

    //Individual sensor measures events bindings

    channel.bind(sensor1_id, function(data) {
      document.getElementById('sensor1').innerHTML = data.message;
    });

    channel.bind(sensor2_id, function(data) {
      document.getElementById('sensor2').innerHTML = data.message;
    });

  </script>
</head>

<body>
  <h1>Unit Processes</h1>

  <ul>
      {% for unit in units %}
          <li><a href= {% url 'monitoring:unit_detail' unit.unit_id %}>{{ unit.name }}</a> :
              <b>{{ unit.running_process }}</b></li>
      {% endfor %}
  </ul>
</body>